<ion-header titulo="Acerca de">
  <ion-toolbar>


    <ion-button slot="start">
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-button>

    <ion-title>Quédate en casa Teziutlán</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="/assets/quedate_logo.png">
  </center>
  <br>
  <b>
  Quédate en casa Teziutlán es una plataforma de comunicación virtual para que Tú, Yo, Nosotros y todos
  los Teziutecos aportemos a nuestras familias y amigos, mensajes de aliento, tips, consejos y ayuda, para
  lograr superar el día a día.
  </b>

  <br>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="publicacion">
        <ion-icon name="map"></ion-icon>
        <ion-label>Historias</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="informacion">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Publicar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
